<?xml version="1.0"?>
<config>
    <modules>
        <Basetut_Createorder>
            <version>0.1.0</version>
        </Basetut_Createorder>
    </modules>
    <frontend>
        <routers>
            <createorder>
                <use>standard</use>
                <args>
                    <module>Basetut_Createorder</module>
                    <frontName>createorder</frontName>
                </args>
            </createorder>
        </routers>
        <layout>
            <updates>
                <createorder>
                    <file>createorder.xml</file>
                </createorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <createorder>
                <class>Basetut_Createorder_Block</class>
            </createorder>
        </blocks>
        <models>
            <createorder>
                <class>Basetut_Createorder_Model</class>
            </createorder>
        </models>
    </global>

    <apirouters>
        <router>
            <xcreateorder>
                <method>POST</method>
                <service>createorder/CreateOrder</service>
                <function>getData</function>
            </xcreateorder>
        </router>
    </apirouters>
</config>